data/xsd/consolidated-person.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
          <!-- XML Schema Generated from XML Document on Tue Aug 18 2015 17:56:37 GMT+0530 (IST) -->
          <!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
       <xs:element name="person">
              <xs:complexType>
                     <xs:sequence>
                            <xs:element name="fullName" type="xs:string"></xs:element>
                            <xs:element name="mailingAddress"></xs:element>
                        </xs:sequence>
                 </xs:complexType>
          </xs:element>
   </xs:schema>